/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}
.image {
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width: 100%;
    height: auto;
}